Januari 2022 - Sekarang
# Web Developer di <a href="https://nuon.id" target="_blank">Nuon</a>

aku bergabung dengan <a href="https://nuon.id" target="_blank">Nuon</a> sebagai Web Developer pada tahun januari 2022. dan mengerjakan salah satu project bernama
tiketapasaja.com yang pada saat itu sudah release menggunakan stack php, html & javascript. Aku dan tim melakukan revamp website tiketapasaja.com
ke nuxtjs dan melakukan beberapa perbaikan pada website tiketapasaja.com sebelumnya.
![image](/tiketapasaja.com.webp)

<a href="https://tiketapasaja.com" target="_blank">tiketapasaja.com</a>

### Stack yang digunakan
- Vue/Nuxtjs
- Tailwindcss
- Laravel (Backend)
- Postgresql (Database)
- Docker

---

Maret 2022 - Januari 2023
# Web Developer di <a href="https://www.creativestation.id" target="_blank">Creativestation.id</a>

aku bergabung dengan <a href="https://www.creativestation.id" target="_blank">Creativestation.id</a> sebagai Part-time Web Developer pada Maret 2022. dan mengerjakan beberapa website seperti
landing-page, dashboard, dan website company profile menggunakan Next.js, Tailwindcss, React-query, yang website nya sudah release dan dikunjungi sekitar 50k+ user setiap bulan.

![image](/creativestation.id.webp)

<a href="https://creativestation.id" target="_blank">creativestation.id</a>

### Stack yang digunakan
- Nextjs
- Tailwindcss
- React-query
- Python (Backend)
- MySQL (Database)
- Vercel

---

August 2019 - Januari 2022
# Android Developer di <a href="https://www.gameqoo.id" target="_blank">Gameqoo.id</a>

sebelum menjadi web developer, aku bergabung dengan <a href="https://www.gameqoo.id" target="_blank">Gameqoo.id</a> sebagai Android Developer pada Agustus 2019.
dan mengerjakan aplikasi untuk device android, diantaranya STB, Adroid TV dan Mobile, dan aplikasi tersebut sudah release dan di download sekitar 100k+ user di indonesia.

![image](/gameqoo.id.webp)

<a href="https://gameqoo" target="_blank">Gameqoo.id</a>

### Stack yang digunakan
- Kotlin
- Java
- Android Studio
- Firebase
- Google Cloud Platform
- Gitlab

---

## 📫 How to reach me
if you want to contact me, or just want to say hi, feel free to reach me on:
- Email: [fahreziadh@gmail.com](mailto:fahreziadh@gmail.com)
- LinkedIn: [@fahrezi](https://www.linkedin.com/in/fahrezi/)
- Twitter: [@fahreziadhaa](https://twitter.com/fahreziadhaa)
